{% extends "index.html" %}
{% block content %} 
<style>
    .glyphicon{
        color: blueviolet;
        margin-left: 150px;
        font-size: 20px;
        float: right;
    }
</style>
{% for posts in posts %}
    <div>
        <div>
            <h2 class="d-inline-block">{{ posts.title }}</h2>
            <a href="{{ url_for('edit_entry', entry_id=posts.id) }}">
                <svg class="bi bi-pencil float-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 012 2a1 1 0 0 1 0 1.4141-9 9a1 1 00 1-.39.2421-3 1a1 1 0 0 1-1.266-1.26511-3a1 1 0 0 1 .242-.39119-9zM12 212 2-9 9-3 1 1-3 9-9z"/>
                    <path fill-rule="evenodd" d="M12.146 6.3541-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                </svg>
            </a>
        </div>
        <p>{{ posts.pub_date.strftime('%Y-%m-%d') }}</p>
        <p>{{ posts.body }}</p>
    </div>
{% endfor %}
{% endblock %}

